.form-shipping {
    width: 1400px;
    margin-bottom: 7rem;
    font-size: 16px;
    height: 900px;
    margin-top: 1rem;
    border-radius: 10px;
    /* background-image: url(./images/restaurant3.jpg); */
    background-image: url("./images/gif7.gif");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 1px 20px 30px rgb(124, 123, 123);
    opacity: 0.8;
  }
  .form-shipping > div {
    width: 560px;
    margin: 0;
  
    /* margin-bottom: 5rem; */
  }
  @media only screen and (max-width: 1200px) {
    .form-shipping{
      height: 980px !important;
    }
    .img-card-table-responsive{
      position: absolute;
    width: 500px !important;
    top: 24%;
    right: 45%
    }
  }
  