.card-Oder-Screen {
  font-size: 16px;
  width: 400px;
  height: 400px;

  /* color: white; */
}
.card-Oder-Screen > h2 {
  background: linear-gradient(40deg, rgb(82, 247, 145), rgb(40, 174, 236));
  text-align: center;
  color: white;
}
.statistical-content {
  margin-left: 3rem;
  border-bottom: 1px solid rgb(156, 154, 154);
}
.btn-order {
}
